{
  "semi": false,
  "printWidth": 130,
  "singleQuote": true,
  "arrowParens": "avoid",
  "jsxSingleQuote": true,
  "plugins": ["prettier-plugin-svelte"],
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
