.absolute {
  position: absolute
}

.inset-x-0 {
  left: 0px;
  right: 0px
}

.bottom-0 {
  bottom: 0px
}

.left-0 {
  left: 0px
}

.bottom-10 {
  bottom: 2.5rem
}

.flex {
  display: flex
}

.grid {
  display: grid
}

.h-12 {
  height: 3rem
}

.h-screen {
  height: 100vh
}

.h-40 {
  height: 10rem
}

.h-full {
  height: 100%
}

.h-20 {
  height: 5rem
}

.h-16 {
  height: 4rem
}

.h-80 {
  height: 20rem
}

.h-\[500px\] {
  height: 500px
}

.w-screen {
  width: 100vw
}

.w-full {
  width: 100%
}

.w-1\/2 {
  width: 50%
}

.w-2\/3 {
  width: 66.666667%
}

.flex-1 {
  flex: 1 1 0%
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.flex-wrap {
  flex-wrap: wrap
}

.items-start {
  align-items: flex-start
}

.items-center {
  align-items: center
}

.justify-start {
  justify-content: flex-start
}

.justify-center {
  justify-content: center
}

.border-t {
  border-top-width: 1px
}

.border-slate-400 {
  --tw-border-opacity: 1;
  border-color: rgb(148 163 184 / var(--tw-border-opacity))
}

.border-slate-300 {
  --tw-border-opacity: 1;
  border-color: rgb(203 213 225 / var(--tw-border-opacity))
}

.border-slate-200 {
  --tw-border-opacity: 1;
  border-color: rgb(226 232 240 / var(--tw-border-opacity))
}

.bg-slate-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(15 23 42 / var(--tw-bg-opacity))
}

.bg-red-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity))
}

.bg-slate-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity))
}

.bg-slate-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity))
}

.bg-pink-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(236 72 153 / var(--tw-bg-opacity))
}

.p-5 {
  padding: 1.25rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem
}

.py-2\.5 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem
}

.pb-16 {
  padding-bottom: 4rem
}

.pt-2 {
  padding-top: 0.5rem
}

.pt-2\.5 {
  padding-top: 0.625rem
}

.text-center {
  text-align: center
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.font-bold {
  font-weight: 700
}

.font-medium {
  font-weight: 500
}

.capitalize {
  text-transform: capitalize
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-slate-950 {
  --tw-text-opacity: 1;
  color: rgb(2 6 23 / var(--tw-text-opacity))
}
